@tailwind base;
@tailwind components;
@tailwind utilities;

.alive{
    box-shadow: 0 10px 0 rgb(26, 31, 28);
}

.alive:focus{
    outline: none;
    border:none
}

.alive:active{
    box-shadow: 0 5px 0 black;
    transform: translateY(5px);
    transition: all 0.1s ease-in-out;

}